*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 14px;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/image1.png);
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    font-family: sans-serif;
    font-size: 14px;
    padding: 0;
    box-sizing: border-box;
}
.display{
	display: none;
}
input:focus{
	outline: 1px solid hsl(210, 7%, 95%);
}
.extra label.forgot{
	width: 48% !important;
	float: right;
}
.extra label.forgot a{
	text-align: right;
}
.extra label.rem{
	width: 44% !important;
	float: left;
}
.extra input{
	width: 8% !important;
	float: left;
}
.wrapper{
	width: 600px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container{
	width: 100%;
	height: 100%;
	background-image: url(../img/abc.jpg);
	background-size: cover;
	background-color: #7f8081;
	background-blend-mode: multiply;
	z-index: -1;
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}
.container h1{
	width: 100%;
	color: #fcfbfb;
	font-size: 30px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.container a{
	text-align: center;
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	text-transform: uppercase;
}
.otp{
	width: 50%;
	height: auto;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	z-index: 10;
}
.otp h2{
	font-size: 18px;
	font-weight: 300;
	color: #3498DB;
	padding: 0px 8px 8px 0px;
	margin-top: 15px;
	text-transform: uppercase;
	display: block;
	float: left;
}
.otp hr{
	height: 1px;
	background-color: #3498DB;
	margin-top: 32px;
	border: 0;
}
.left-side{
	background-color: rgba(255, 255, 255, 0.8);
	width: 50%;
	height: 120%;
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 28%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	z-index: 10;
	transition: left 0.3s ease-in-out;
}
.left-side:hover{
	left: 50%;
} 
.left-side:hover ~ div{
	transform: scale(0);
}
.left-side.signUp{
	height: 140%;
}
.left-side h2{
	font-size: 18px;
	font-weight: 300;
	color: #3498DB;
	padding: 0px 8px 8px 0px;
	margin-top: 15px;
	text-transform: uppercase;
	display: block;
	float: left;
}
.left-side hr{
	height: 1px;
	background-color: #3498DB;
	margin-top: 32px;
	border: 0;
}
.left-side form{
	margin-top: 30px;
}
.form-group{
	padding: 8px;
	margin-top: 8px;
	display: block;
}
.form-group label{
	display: block;
	margin-bottom: 5px;
}
.form-group input{
	width: 100%;
	padding: 6px 8px;
	box-shadow: none;
	border: 1px solid #3498DB;
}
.form-group input[type="submit"]{
	width: 100%;
	padding: 6px 8px;
	box-shadow: none;
	color: #fff;
	background-color: #3498DB;
	cursor: pointer;
	text-transform: uppercase;
}
.form-group input[type="submit"]:hover{
	color: #3498DB;
	background-color: transparent;
	border: 1px solid #3498DB;
	transition: all 0.5s ease-in-out;
}
.right-side{
	background-color: rgba(0, 0, 0, 0.5);
	width: 40%;
	height: 80%;
	position: absolute;
	top: 50%;
	right: 3%;
	transform: translate(0, -50%);
	padding: 5px 20px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	transition: scale 1s ease-in-out;
}
.right-side h2{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	padding: 8px 8px 8px 0px;
	margin-top: 15px;
	text-transform: uppercase;
	display: block;
	float: left;
}
.right-side hr{
	height: 1px;
	background-color: #fff;
	margin-top: 32px;
	border: 0;
}
.right-side-text{
	margin-top: 20px;
}
.right-side-text p{
	color: #fff;
	margin-bottom: 8px;
}
.right-side-text a{
	color: #fff;
	margin-top: 30px;
	padding-bottom: 3px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
}
.right-side-text a:hover{
	border-bottom: 1px solid transparent;
}
