* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:focus,
  *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background-image: url('./img/contactpage1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .wrapper {
    display: inline-flex;
    list-style: none;
  }

  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #000000;
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }

  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }

  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }

  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }

  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
  
  .navbar {
    padding: 1rem;
}

.navbar .navbar-brand {
    color: #d46b25;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s;
}

@keyframes rubberBand {
    0% { transform: scaleX(1); }
    30% { transform: scaleX(1.25); }
    40% { transform: scaleX(0.75); }
    50% { transform: scaleX(1.15); }
    65% { transform: scaleX(0.95); }
    75% { transform: scaleX(1.05); }
    100% { transform: scaleX(1); }
}

/* Apply the rubber band animation on hover */
.navbar-brand {
    transition: transform 0.5s;
}

.navbar-brand:hover {
    animation: rubberBand 0.5s;
}

.navbar-nav .nav-link {
    color: rgb(19, 18, 18);
    font-size: 1.2rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: rgb(17, 16, 16);
    transform: scale(1.1);
}
  
  .footer{
    color: aliceblue;
    font-weight: bold; 
    text-decoration: none;

  }